<div class="stars">
  <i class="icon star is-medium"></i> <i class="icon star is-medium"></i>
  <i class="icon star is-medium"></i> <i class="icon star is-medium"></i>
  <i class="icon star is-medium"></i>
</div>
<div class="fin">Congratulations!!!</div>

<div class="stars">
  <i class="icon star is-medium"></i> <i class="icon star is-medium"></i>
  <i class="icon star is-medium"></i> <i class="icon star is-medium"></i>
  <i class="icon star is-medium"></i>
</div>

<div class="fin-score">You score: {{ score }}</div>
