<div class="container with-title main">
  <h2 class="title">
    <i class="nes-logo"></i> {{ title }} <i class="nes-logo"></i>
  </h2>

  <a
    class="github-link"
    href="https://github.com/BcRikko/NES.css"
    target="_blank"
  >
    <p class="balloon from-right">Good luck!</p>
    <i class="octocat animate"></i>
  </a>

  <div class="question-container" *ngIf="(question$ | async) as question">
    <div class="question">{{ question.value }}</div>

    <div class="answer-container">
      <app-answer
        *ngFor="let answer of question.answers"
        [answer]="answer"
        (click)="addAnswer(answer)"
      ></app-answer>
    </div>
  </div>
</div>

<app-error *ngIf="(error$ | async)"></app-error>
